<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the paid time off request system!
  </h1>
</div >
<div>
  <app-login routerLink="/"></app-login>
<button *ngIf="ls.getid()!=null"routerLink="/myrequests" class="btn-primary">my requests</button>
<button *ngIf="ls.getid()!=null"routerLink="/newrequest" class="btn-success">new request</button>
<button *ngIf="ls.getStatus()==1" routerLink="/approverequest"class="btn-warning">approve request</button>
<button *ngIf="ls.getid()!=null" routerLink="/holidays"class="btn-info">view company holidays</button>
</div>
<router-outlet></router-outlet>



